# .htaccess

# ######################################################################
# # REWRITES                                                           #
# ######################################################################

# ----------------------------------------------------------------------
# | Rewrite engine                                                     |
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>

    RewriteEngine on

    Options +FollowSymlinks

    RewriteRule ^static/(.*)$ static/$1 [L,QSA]

    RewriteRule ^(.*)$ source/$1

<IfModule mod_rewrite.c>



